.skullcandy {
    &-stas3 {
        position: relative;
        min-height: 119.7em;

        &-content {
            top: 7.2em;
            width: 77em;

            p {
                margin: 0 0 4em 0;
            }
        }

        &-image {
            position: absolute;
            width: 48.7em;
            height: 60.9em;
            left: 22em;
            top: 50.7em;
            z-index: -1;
        }
    }
}