.skullcandy {
    &-black-section {
        background-color: var(--black);
        color: var(--white);
        position: relative;

        &.style-0 {
            height: 59.5em;

            .app-mobile & {
                height: 28.5em;
            }

            .skullcandy-black-section-content {
                top: 15.5em;

                .app-mobile & {
                    top: 8.5em;
                }
            }

            img {
                left: 146.4em;
                top: -9em;
                width: 40em;
                height: 23.9em;

                .app-mobile & {
                    left: 16.4em;
                    top: -3em;
                    width: 14em;
                    height: auto;
                }
            }

        }

        &.style-1 {
            height: 35.4em;

            .app-mobile & {
                height: 14.5em;
            }

            .skullcandy-black-section-content {
                top: 15.5em;

                .app-mobile & {
                    top: 6em;
                }
            }

            img {
                left: 144.4em;
                top: -26em;
                width: 47.9em;
                height: 47.9em;

                .app-mobile & {
                    left: 18.4em;
                    top: -9.5em;
                    width: 14em;
                    height: auto;
                }
            }
        }

        &.style-2 {
            height: 38.2em;

            .app-mobile & {
                height: 15.5em;
            }

            .skullcandy-black-section-content {
                top: 14em;

                .app-mobile & {
                    top: 6em;
                }
            }

            img {
                left: 27em;
                top: 7.5em;
                width: 7.3em;
                height: 9.3em;

                .app-mobile & {
                    left: 1.4em;
                    top: 3.5em;
                    width: 4em;
                    height: auto;
                }
            }
        }

        img {
            position: absolute;
        }

        &-content {
            width: 76em;
            font-weight: bold;
            line-height: 3.6em;

            .app-mobile & {
                width: 23.8em;
                line-height: 1.6em;
            }

            span {
                font-size: 3.6em;

                .app-mobile & {
                    font-size: 1.2em;
                }

                text {
                    display: inline;
                    background-image: linear-gradient(to bottom, var(--white) 33%, transparent 33%);
                    background-position: 0 1.2em;
                    background-repeat: repeat-x;
                    background-size: 2px 0.25em;
                }
            }

            &:after {
                content: "";
                position: absolute;
                background: #fff;
                width: 10em;
                height: 1em;
                top: -6.2em;
                left: 0;

                .app-mobile & {
                    width: 5em;
                    height: 0.4em;
                    top: -2.2em;
                    left: 0;
                }
            }
        }
    }
}