.skullcandy {
    &-more {
        position: relative;

        &.skullcandy-dance-2 {
            min-height: 227.3em;

            .app-mobile & {
                min-height: 118.3em;
            }
        }

        &.skullcandy-dance-3 {
            min-height: 106.7em;

            .app-mobile & {
                min-height: 91.7em;
            }
        }

        &.skullcandy-dj-1 {
            min-height: 81.1em;

            .app-mobile & {
                min-height: 47.5em;
            }
        }

        &.skullcandy-dj-2 {
            min-height: 229.7em;

            .app-mobile & {
                min-height: 170.7em;
            }
        }

        &.skullcandy-skateboard-2 {
            min-height: 209.7em;

            .app-mobile & {
                min-height: 131.7em;
            }
        }

        &-content {
            top: 8em;
            width: 77em;

            .app-mobile & {
                width: 24em;
                top: 3em;
            }

            p {
                margin: 0 0 4em 0;

                .app-mobile & {
                    margin: 0 0 2em 0;
                }
            }
        }

        &-video {
            width: 118.2em;
            height: 65.8em;
            position: relative;
            left: -30.5em;
            margin: 0 0 5.5em 0;

            .app-mobile & {
                width: 114%;
                height: auto;
                position: relative;
                left: -4.2em;
                margin: 0 0 2em 0;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &-image {
            position: absolute;
            z-index: -1;

            &.dance-3 {
                width: 48.7em;
                height: 60.9em;
                left: 22em;
                top: 50.7em;

                .app-mobile & {
                    width: 100%;
                    height: auto;
                    left: 50%;
                    top: 58.7em;
                    transform: translateX(-50%);
                }
            }

            &.dj-2 {
                width: 40.4em;
                height: 65.1em;
                left: 14.2em;
                top: 172.4em;

                .app-mobile & {
                    width: 90%;
                    height: auto;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 128em;
                }
            }

            &.skateboard-2 {
                width: 58em;
                height: 46.5em;
                left: 4.2em;
                top: 153.4em;

                .app-mobile & {
                    width: 90%;
                    height: auto;
                    left: 50%;
                    top: 96.4em;
                    transform: translateX(-50%);
                }
            }
        }
    }
}