.skullcandy {
    &-more {
        position: relative;

        &.skullcandy-dance-2 {
            min-height: 237.3em;
        }

        &.skullcandy-dance-3 {
            min-height: 119.7em;
        }

        &-content {
            top: 11em;
            width: 77em;

            p {
                margin: 0 0 4em 0;
            }
        }

        &-video {
            width: 118.2em;
            height: 65.8em;
            position: relative;
            left: -30.5em;
            margin: 0 0 4em 0;

            img {
                width: 100%;
                height: auto;
            }
        }

        &-image {
            position: absolute;
            z-index: -1;

            &.dance-3 {
                width: 48.7em;
                height: 60.9em;
                left: 22em;
                top: 50.7em;
            }
        }
    }
}