.skullcandy {

    &-dance {
        min-height: 139.3em;

        .app-mobile & {
            min-height: auto;
            padding: 3em 0 5em;
        }

        .skullcandy-start-image {
            width: 43.1em;
            height: 65.1em;
            left: 15em;
            top: 61.5em;
        }
    }

    &-dj {
        min-height: 107em;

        .app-mobile & {
            min-height: auto;
            padding: 3em 0 7em;
        }

        .skullcandy-start-image {
            width: 30.9em;
            height: 46.3em;
            left: 27em;
            top: 53em;

            .app-mobile & {
                display: none;
            }
        }
    }

    &-skateboard {
        min-height: 159em;

        .app-mobile & {
            min-height: auto;
            padding: 3em 0 5em;
        }

        .skullcandy-start-image {
            width: 52.2em;
            height: 63.9em;
            left: 7em;
            top: 83em;

            .app-mobile & {
                width: 90%;
                height: auto;
                left: 50%;
                top: 112.5em;
                transform: unset;
                margin-bottom: 4.5em;
            }
        }
    }

    &-start {
        position: relative;
        width: 100%;

        &-insta {
            position: absolute;
            display: flex;
            align-items: center;
            top: 16em;
            left: 12.5em;
            z-index: 1;

            .app-mobile & {
                position: relative;
                top: 0;
                left: 0;
                margin: 0 0 2em 0;
            }

            &-img {
                width: 17em;
                height: 17em;
                margin: 0 3em 0 0;

                .app-mobile & {
                    width: 9em;
                    height: 9em;
                    margin: 0 2em 0 0;
                }

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }

            &-title {
                h6 {
                    font-size: 4em;
                    font-weight: bold;

                    .app-mobile & {
                        font-size: 2em;
                    }
                }

                a {
                    width: 25.4em;
                    height: 6.8em;
                    border-radius: 5em;
                    font-weight: bold;
                    margin: 2.5em 0 0;

                    .app-mobile & {
                        width: 13.1em;
                        height: 3.5em;
                        margin: 1em 0 0;
                    }

                    span {
                        font-size: 3em;

                        .app-mobile & {
                            font-size: 1.55em;
                        }
                    }
                }
            }

        }

        &-content {
            top: 16em;
            width: 77em;

            .app-mobile & {
                top: 4em;
                width: 23.8em;
            }

            h2 {
                font-weight: bold;
                margin: 0 0 1.6em 0;

                span {
                    font-size: 6.4em;

                    .app-mobile & {
                        font-size: 3em;
                    }
                }
            }

            h5 {
                line-height: 4em;
                width: 103%;
                margin: 0 0 3em 0;

                .app-mobile & {
                    line-height: 2.3em;
                    margin: 0 0 2em 0;
                }

                span {
                    font-size: 4em;

                    .app-mobile & {
                        font-size: 2em;
                    }
                }
            }

            p {
                margin: 0 0 4em 0;

                .app-mobile & {
                    margin: 0 0 2em 0;
                }
            }

            &-subtitle {
                line-height: 3.2em;
                margin: 0 0 3.7em 0;

                .app-mobile & {
                    line-height: 2em;
                    margin: 0 0 2em 0;
                }

                span {
                    font-size: 3em;

                    .app-mobile & {
                        font-size: 1.4em;
                    }
                }
            }
        }

        &-image {
            position: absolute;

            .app-mobile & {
                position: unset;
                margin: 0 auto;
                width: 90%;
                height: auto;
                margin-bottom: 2em;
            }

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}