* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    --white: #fff;

    background-color: var(--white);
}

#skullcandy {
    font-family: "Circe";
    font-size: 27px;
    font-weight: normal;
}
